---
# tasks file for usermanagement

# Remove any unwanted sudoers files (Fix opstree sudo)
- name: Remove existing opstree sudoers file if any
  file:
    path: "/etc/sudoers.d/{{ item }}"
    state: absent
  loop:
    - opstree
    - 99-cloud-init
    - cloud-init
  ignore_errors: yes
  become: yes

# Remove opstree entry from /etc/sudoers
- name: Remove opstree entry in /etc/sudoers
  lineinfile:
    path: /etc/sudoers
    regexp: '^opstree\s'
    state: absent
    backup: yes
  become: yes
- name: configure sudoers file in sudoers.d
  template:
    src: templates/sudoersfile.j2
    dest: /etc/sudoers.d/sudoersfile
    mode: 0440
    validate: 'visudo -cf %s'

- name: Ensure all the required groups exist on the system
  group:
    name: "{{ item }}"
    state: present
  loop:
    - dev
    - devlead
    - devops
    - devopslead
    - switchers 

- name: Create new users
  user:
    name: "{{ item.split(',')[0] | trim }}"
    groups: "{{ item.split(',')[1] | trim }}"
    shell: /bin/bash
    state: "{{ item.split(',')[2] | trim }}"
    remove: true
    password: "{{ default_password_hash }}"
    update_password: on_create
  with_items: "{{ lookup('file', user_mapping_file_path).split('\n') | select('match', '^.+') | list }}"

- name: Set up authorized key
  tags:
    - never   # Ensures this task is skipped on a default playbook run
    - ssh_key # Allows you to run it explicitly with --tags ssh_key
  authorized_key:
    user: "{{ item.split(',')[0] | trim }}"
    state: present
    key: "{{ lookup('file', '{{ pub_keys_dir_path }}/{{ item.split(\",\")[0] }}' ) }}"
  with_items: "{{ lookup('file', user_mapping_file_path).split('\n') | select('match', '^.+') | list }}"
  ignore_errors: true
