---
# tasks file for usermanagement

- name: Restrict SSH login to opstree and automation only
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^AllowUsers'
    line: 'AllowUsers opstree automation admin buildpiper'
    state: present
    # Validate config syntax to prevent SSH lockout
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

# Force Password Authentication to 'yes' ONLY for opstree-admin
- name: Explicitly allow Password Authentication for opstree-admin
  blockinfile:
    path: /etc/ssh/sshd_config
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR BACKUP ADMIN"
    block: |
      Match User admin,buildpiper
          PasswordAuthentication yes
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH


# Remove any unwanted sudoers files (Fix opstree sudo)
- name: Remove existing opstree sudoers file if any
  file:
    path: "/etc/sudoers.d/{{ item }}"
    state: absent
  loop:
    - opstree
    - 99-cloud-init
    - cloud-init
    - sandeeprawat
  ignore_errors: yes
  become: yes

# Remove opstree entry from /etc/sudoers
- name: Remove opstree entry in /etc/sudoers
  lineinfile:
    path: /etc/sudoers
    regexp: '^opstree\s'
    state: absent
    backup: yes
  become: yes
- name: configure sudoers file in sudoers.d
  template:
    src: templates/sudoersfile.j2
    dest: /etc/sudoers.d/sudoersfile
    mode: 0440
    validate: 'visudo -cf %s'

- name: Ensure all the required groups exist on the system
  group:
    name: "{{ item }}"
    state: present
  loop:
    - dev
    - devlead
    - devops
    - devopslead
    - switchers 

- name: Get list of existing users
  getent:
    database: passwd

- name: Create new users
  user:
    name: "{{ item.split(',')[0] | trim }}"
    groups: "{{ item.split(',')[1] | trim }}"
    shell: /bin/bash
    state: "{{ item.split(',')[2] | trim }}"
    remove: true
    password: "{{ default_password_hash }}"
    update_password: on_create
  with_items: "{{ lookup('file', user_mapping_file_path).split('\n') | select('match', '^.+') | list }}"
  register: user_creation_results

- name: Force password change on first login (Expire Password)
  command: "chage -d 0 {{ item.item.split(',')[0] | trim }}"
  loop: "{{ user_creation_results.results }}"  # <--- 2. Loop through the results
  when:
    - item.changed  # <--- 3. ONLY run this if the user was just created/updated
    - item.item.split(',')[2] | trim == 'present'
    - item.item.split(',')[0] | trim not in ansible_facts.getent_passwd
  become: yes

- name: Set up authorized key
  tags:
    - never   # Ensures this task is skipped on a default playbook run
    - ssh_key # Allows you to run it explicitly with --tags ssh_key
  authorized_key:
    user: "{{ item.split(',')[0] | trim }}"
    state: present
    key: "{{ lookup('file', '{{ pub_keys_dir_path }}/{{ item.split(\",\")[0] }}' ) }}"
  with_items: "{{ lookup('file', user_mapping_file_path).split('\n') | select('match', '^.+') | list }}"
  ignore_errors: true
